#forgot-email-password-paralax {
  background-image: url(../../../../../assets/images/forgot-password.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  height: 94.5vh;
}
