#register-paralax {
  background-image: url(../../../../assets/images/register.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom left;
  background-attachment: fixed;
  height: 35vh;
}
