#register-paralax {
  background-image: url(../../../../assets/images/register.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center left;
  background-attachment: fixed;
  height: 94.5vh;
}
